header {
    margin-top: 30px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}

header img:first-child {
    height: 120px;
}

header img:last-child {
    height: 60px;
}